<style>
  .container.body{
    background: url(../../media/main_bg.png) no-repeat; background-size: cover; background-position: right;
  }
  .login_content form {
    background: rgba(255, 255, 255, 0.2196078431372549);
    padding: 20px 15px;
}
.container.login_section:before {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
ul{    padding-left: 15px;}
.login_content{padding-top:0;}
.login_wrapper{margin-top:0 !important;}
.login_content form {
  background: rgba(255, 255, 255, 0.2196078431372549);
  padding: 20px 15px;
}
form span, form ul li{color: #fff; text-shadow: none; font-style: italic; text-align:left;}
.login_content form p, .login_content form .text_css{color: #fff; letter-spacing:1; text-shadow:none;}
input{
background: transparent !important;
box-shadow: none !important;
border: none !important;
border-bottom: 1px solid #fff !important;
height: 30px !important;
color: #fff !important;
}
.login_content h2{text-shadow:none; color: #fff;}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
color: #fff;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
color: #fff;
}
input.btn.btn-round.btn-default {
  border: 1px solid #fff !important;
  box-shadow: none;
  padding-top:4px !important;
}
.login_content h1:after, .login_content h1:before{display: none;}
</style>
{% extends 'base9.html' %}


{% block content %}
<div class="ui main container">
        {% if messages %}
            {% for message in messages %}
                <div class="ui {{message.extra_tags}} {{message.tags}} message">
                    <i class="close icon"></i>
                    {{message | safe}}
                </div>
            {% endfor %}
        {% endif %}
</div>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<div class="bg_section">
  <div class="container login_section" style="background: url(../../media/main_bg.png) no-repeat; max-height:100%; height: 620px; background-size: cover;    background-position: right;">
  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
  <!-- <form method="post">
      <h2>Sign up</h2>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Next Step</button>
  </form> -->
  <form method="post">
  <h2>Sign up</h2>
  <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
  <input type="text" placeholder="Username" name="username" maxlength="150" autofocus="" required="" id="id_username"> <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
  <input type="password" placeholder="Password" name="password1" required="" id="id_password1"> <span class="helptext"></span></p><ul><li>Your password can't be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can't be a commonly used password.</li><li>Your password can't be entirely numeric.</li></ul>
  <input type="password" placeholder="Confirm Password" name="password2" required="" id="id_password2"> <span class="helptext">Enter the same password as before, for verification.</span>
      <button type="submit" class="btn btn-round btn-success">Next Step</button>
    </form>
</section>
</div>
</div>
</div>
</div>
{% endblock %}
