{% extends 'base6.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{message.tags}} message">
            <i class="close icon"></i>
            {{message | safe}}
        </div>
    {% endfor %}
{% endif %}




<div class="container">
  <table class="table">
    <tr><th><h3><marquee>Category Name</marquee></h3></th>
  {% for c1 in s %}
  <tr>
    <td><b> {{c1.BookCatName}}</b></td>
    <td><img src='../../media/{{c1.BookCategoryImg}}' height='80' width='80'></td>
    <td> <a href="/Librarian/EditBookCategory1/?BookCatId={{c1.BookCatId}}"><input class="btn btn-round btn-primary" type="button" value="Edit"> </a></td>
    <td> <a href="/Librarian/DeleteBookCategory1/?BookCatId={{c1.BookCatId}}"><input class="btn btn-round btn-danger" type="button" value="Delete"> </a></td>
    <td> <a href="/Librarian/StreamForBookCat1/?BookCatId={{c1.BookCatId}}"><input class="btn btn-round btn-primary" type="button" value="Show Stream"> </a></td>
  </tr>

  {% endfor %}
    </table>
  <a href="/Librarian/AddBookCategory1/"><button class="btn btn-round btn-primary">Add Category</button></a>
  <a href="/Librarian/AddStream1/"><button class="btn btn-round btn-primary">Add Stream</button></a>

  <a href="/Librarian/query/"><button class="btn btn-round btn-primary">Send query to admin</button></a>
</div>


{% endblock %}
