{% extends "base6.html" %}

{% block content %}
<div class="ui main container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}} message">
                    <i class="close icon"></i>
                    {{message | safe}}
                </div>
            {% endfor %}
        {% endif %}
</div>
<div class="container">
<h3>Are you sure you want to delete Stream
    '{{StreamId.StreamName}}'
    ?
</h3>
<form method="POST">
  {% csrf_token %}
  <a href="/Librarian/BookCategoryIndex1"><input class="btn btn-round btn-default" type="button" value="Cancel"> </a>
  <input type="submit" value="Delete" class="btn btn-round btn-danger">
</form>
</div>

{%endblock%}
