{% extends 'base6.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{message.tags}} message">
            <i class="close icon"></i>
            {{message | safe}}
        </div>
    {% endfor %}
{% endif %}




<div class="container">
  <table class="table">

    <tr><center><b><img src='../../media/{{Book1.CoverPageImg}}' height='150' width='100'></b></center></tr>
      <tr><center><b>{{Book1.BookName}}</b></center></tr>
      <tr><center><b>{{Book1.Price}}</b></center></tr>
      <tr><center><b>{{Book1.BookAuthorName}}</b></center></tr>

    <tr><td><b>BookStockSerial</b></td><td> <b>Is Issued?</b></td></tr>
  {% for c1 in Book2 %}
  <tr>
    <td><b> {{c1.BookStockSerial}}</b></td>
    <td> {% if c1.Issued %}
      <b>Yes</b>
      {% else %}
      <b>No</b>
      {% endif %}




    </td>
  </tr>

  {% endfor %}
    </table>
<a href="/Librarian/ShowBook1/?StreamId={{temp}}"><input class="btn btn-round btn-default" type="button" value="Back To Books"> </a>
</div>


{% endblock %}
