{% extends "base1.html" %}

{% block content %}

<div class="container">
  {% if messages %}
      {% for message in messages %}
          <div class="alert alert-{{message.tags}} message">
              <i class="close icon"></i>
              {{message | safe}}
          </div>
      {% endfor %}
  {% endif %}


<form method="POST" enctype="multipart/form-data">
  {% if CatId %}
  <input type="hidden" value="{{CatId}}" name="CatId">
  {% endif %}
  {% csrf_token %}
  <table class="table">
{{form.as_table}}
<tr>
  <td><a href="/Stationary/Scategory_index"><input class="btn btn-round btn-default" type="button" value="Back"> </a></td>

  {% if CatId %}
  <td><input type="submit" value="Update" class="btn btn-round btn-primary"></td>
  {% else %}
  <td><input type="submit" value="Create" class="btn btn-round btn-primary"></td>
  {% endif %}

</tr>
</table>
</form>
  </div>


{%endblock%}
