{% extends 'base1.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{message.tags}} message">
            <i class="close icon"></i>
            {{message | safe}}
        </div>
    {% endfor %}
{% endif %}


<div class="container">
  <div class="right" style="position:relative;left:850px;">
  <a href="/Stationary/Scategory_order/"><input class="btn btn-round btn-default" type="button" value="Back to categories"> </a>
  </div>
  <div class="x_content">
    <div class="row">

  {% for p1 in Cpro1 %}
  <div class="col-md-55" style="height:300px;width:250px;background-image: linear-gradient(-65deg, #7a91a8, white);">
    <div class="thumbnail" style="height:300px;width:250px;background-image: linear-gradient(-65deg, #7a91a8, white);">
      <div class="image view view-first" style="height:180px;">
        <img src='../../media/{{p1.PImg}}' height='100%' width='100%'>
      </div>
      <div class="caption" style="background-image: linear-gradient(-65deg, #7a91a8, white);">



    <p><center><b>{{p1.PName}}</b></center><center><b>{{p1.Price}}</b></center>
    <center>
    {% if p1.IsAvailable %}
    <a href="/Stationary/Scategory_order_productbyId/productdetail/?Pid={{p1.Pid}}"><input class="btn btn-round btn-primary" type="button" value="Add"> </a>
    {% else %}
    <br>
    <strong>Out Of Stock</strong>
    {% endif %}
    </center>
  </p>
  </div>
  </div>
  </div>
{% endfor %}


</div>
</div>
</div>

{% endblock %}
