{% extends "base1.html" %}

{% block content %}

<div class="container">
  {% if messages %}
      {% for message in messages %}
          <div class="alert alert-{{message.tags}} message">
              <i class="close icon"></i>
              {{message | safe}}
          </div>
      {% endfor %}
  {% endif %}

  <div class="container">
    <table class="table">
      <center><h3>Final Cart</h3></center>
    <tr>
      <td><b>Product Name</b></td>
      <td><b>Price</b></td>
      <td><b>Quantity</b></td>
      <td><b>P*Q</b></td>

    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    {% for c1 in cat %}
    <tr>
      <td><b> {{c1.Pid}}</b></td>
      <td><b> {{c1.Price}}</b></td>
      <td><b>{{c1.quantity}}</b></td>

      <td><b>{% widthratio c1.Price 1 c1.quantity %}</b></td>
      <td><a href="/Stationary/EditFromCart1/?Pid={{c1.Pid_id}}"><input class="btn btn-round btn-primary" type="button" value="Edit"> </a></td>
      <td><a href="/Stationary/DeleteFromCart1/?Pid={{c1.Pid_id}}"><input class="btn btn-round btn-danger" type="button" value="Delete"> </a></td>
    </tr>

    {% endfor %}
      </table>

      <div style="position: relative;
  left: 522px;">
      <b>Total amount to be paid:</b> <b>{{add}}</b>
      </div>
<a href="/Stationary/Scategory_order/"><input class="btn btn-round btn-default" type="button" value="Back to categories"> </a>
      <div style="position: relative;
  left: 775px;">

      <a href="/Stationary/PlaceOrder1"><input class="btn btn-round btn-primary" type="button" value="Place Order"> </a>
      </div>

  </div>


  {% endblock %}
