{% extends 'base10.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{message.tags}} message">
            <i class="close icon"></i>
            {{message | safe}}
        </div>
    {% endfor %}
{% endif %}




<div class="container">
  <table class="table">
    <tr><th><h3><marquee>Students list</marquee></h3></th></tr>
    <tr><td>Enrolment</td><td>Semester</td><td>Stream</td><td>Username</td><td style="color:black;">Balance</td></tr>
  {% for c1 in t1 %}
  <tr>
    <td><b> {{c1.enroll}}</b></td>
    <td><b> {{c1.sem}}</b></td>
    <td><b> {{c1.stream}}</b></td>
    <td><b> {{c1.user}}</b></td>
    <td style="color:black;"><b> {{c1.balance}}</b></td>
    <td><a href="/myadmin/studentprofile/?enroll={{c1.enroll}}"><input type="button" class="btn btn-round btn-primary" value="details"></a></td>
  </tr>

  {% endfor %}
    </table>

</div>


{% endblock %}
