{% extends 'base4.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{message.tags}} message">
            <i class="close icon"></i>
            {{message | safe}}
        </div>
    {% endfor %}
{% endif %}




<div class="container">
  <form method="POST" action="">
      {% csrf_token %}


  <table class="table">

      <tr><td><b>DateTime</b></td></tr>
  {% for c1 in instance %}
  <tr>
    

    <td><b> {{c1.DateOfOrder}}</b></td>
    <td><a href="/Student/DetailOfOrderForL/?LibOrderId={{c1.LibOrderId}}"><input class="btn btn-round btn-primary" type="button" value="Detail"> </a></td>

  </tr>

  {% endfor %}
    </table>
  <div>


{% endblock %}
