{% extends "base4.html" %}

{% block content %}

<div class="container">
  {% if messages %}
      {% for message in messages %}
          <div class="alert alert-{{message.tags}} message">
              <i class="close icon"></i>
              {{message | safe}}
          </div>
      {% endfor %}
  {% endif %}


<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <table class="table">
{{form.as_table}}

<tr>
  <td><a href="/Student/updateprofile/"><input class="btn btn-round btn-default" type="button" value="Back"> </a></td>
  <td><input type="submit" value="Submit" class="btn btn-round btn-primary"></td>

</tr>
</table>
</form>
  </div>


{%endblock%}
