{% extends 'base.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{message.tags}} message">
            <i class="close icon"></i>
            {{message | safe}}
        </div>
    {% endfor %}
{% endif %}


<div class="container">
  <table class="table table-striped">
    <tr><th>Product Id</th><th>Category Name</th><th>p name</th><th>Price</th><th>Image</th><th> Edit</th><th>Delete</th></tr>
  {% for p1 in pro %}
  <tr>
    <td> <b>{{p1.Pid}}</b></td>    <td> <b>{{p1.CatId}}</b></td>    <td> <b>{{p1.PName}}</b></td> <td><b> {{p1.Price}}</b></td>
    <td><img src='{{p1.image.url}}' height='50' width='50'></td>
    <td> <a href="/Canteen/edit_Cproduct/?Pid={{p1.Pid}}"><input class="btn btn-round btn-primary" type="button" value="Edit"> </a></td>
    <td> <a href="/Canteen/delete_Cproduct/?Pid={{p1.Pid}}"><input class="btn btn-round btn-primary" type="button" value="Delete"> </a></td>
  </tr>
  {% endfor %}
    </table>

    <a href="/Canteen/add_Cproduct/"><button class="btn btn-round btn-primary">Add product</button></a>

</div>


{% endblock %}
